@model ApplicationCore.Models.Response.CastDetailsResponseModel


<h2>
    Cast Details
</h2>

<div class="row">
    <div class="col-md-4">


        <!-- Movie Card row -->
        <div>
            <img src="@Model.ProfilePath"
                 class="img-fluid rounded-circle"
                 alt="@Model.Name" />
        </div>

    </div>
    <div class="col-md-4">
        <div class="row mt-2">
            <div class="col-12">
                <h1>
                    @Model.Name
                </h1>
                <small class="text-muted">@if (@Model.Gender == "2")
                {<span> Male </span>}
                else
                {<span> Female </span>} </small>
            </div>

        </div>

        <div class="row">
            <div class="col-4 text-secondary font-weight-bold mt-1">
                @Model.TmdbUrl
            </div>

        </div>

        <div class="container-fluid bg-light">
            <table class="table">
                <tbody>
                    @foreach (var movie in Model?.Movies)
                    {
                        <tr>
                            <td>
                                <img src="@movie.PosterUrl" class="w-50 p-3 rounded" alt="@movie.Title"/>
                            </td>
                            <td>@movie.Title</td>
                        </tr>
                    }

                </tbody>
            </table>
            @*<div class="row">
                @foreach (var movie in Model.Movies)
                {
                    <div class="col-6 col-lg-3 col-sm-4 col-xl-2">
                        @movie.Title
                    </div>
                }
            </div>*@
        </div>
    </div>
</div>
@*

*@